<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Carental company">
    <meta name="author" content="lc_web_creations">
    <link rel="icon" href="/images/car.ico">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Kastri Rent A Car</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Captcha Script-->
    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : ''
        });
      };
    </script>

  </head>

  <body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">
          <!--<h2>Car Rental <em>Website</em></h2></a>-->
          <img id = "logo" src = "/images/logo.JPG"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item active"><a class="nav-link" href="/fleet">Fleet</a></li>

                <li class="nav-item"><a class="nav-link" href="/generalterms">General Terms</a></li>
                
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(/images/slider-image-1-1920x600.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Fleet</h4>
              <h2>let’s hire your ride</h2>
              <p>Choose car category and take a quote</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/product-5-370x270.jpg" alt="">

              <div class="down-content">
                <h4>Economy Car Hire</h4>

                <!--<h6><small>from</small> $99 <small>per weekend</small></h6>-->

                <p>Economy vehicles are a good solution when travelling short distances or in the city.
                  They accommodate more luggage, as the boot space is larger, and provide more room for passengers.
                  Recommended for groups of up to four people and one large suitcase.</p>
                <!--
                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>-->

                <span>
                  <a href="#" data-toggle="modal" data-target="#exampleModal"><strong>TAKE A QUOTE</strong></a>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/product-6-370x270.jpg" alt="">

              <div class="down-content">
                <h4>Compact Car Hire</h4>

                <!--<h6><small>from</small> $99 <small>per weekend</small></h6>-->

                <p>Compact cars match the best of small and large vehicles.
                  Enough room for passengers in the back seat as well as boot space allow groups of up to four people to travel comfortably and fit in their luggage.
                  Compact cars usually come with powerful engines and are easy to park.</p>
                <!--
                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>-->

                <span>
                  <a href="#" data-toggle="modal" data-target="#exampleModal"><strong>TAKE A QUOTE</strong></a>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/blog-4-370x270.jpg" alt="">

              <div class="down-content">
                <h4>Family Size Car Hire</h4>

                <!--<h6><small>from</small> $99 <small>per weekend</small></h6>-->

                <p>Family Size category includes Standard and Full size cars.
                  These cars are perfect for five passengers and accommodate two large and two medium-size suitcases.
                  Family size cars gives you the benefit to drive comfortably for longer distances with plenty of room.</p>
                <!--
                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>-->

                <span>
                  <a href="#" data-toggle="modal" data-target="#exampleModal"><strong>TAKE A QUOTE</strong></a>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/nissan.jpg" alt="">

              <div class="down-content">
                <h4>SUV | 4x4</h4>

                <!--<h6><small>from</small> $99 <small>per weekend</small></h6>-->

                <p>Hire an SUV for a special occasion! Perfect for country drives with your family holidays, SUV cars are very popular.
                  These vehicles offer plenty of space for passengers and their luggage.
                  They are perfect to drive on country roads and mountainous terrain.</p>
                <!--
                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>-->

                <span>
                  <a href="#" data-toggle="modal" data-target="#exampleModal"><strong>TAKE A QUOTE</strong></a>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/product-3-370x270.jpg" alt="">

              <div class="down-content">
                <h4>Van 7 & 9 seaters</h4>

                <!--<h6><small>from</small> $99 <small>per weekend</small></h6>-->

                <p>Cars that are classified in this category include vehicles for seven or even nine passengers.
                Vans are characterised by a spacious interior with a lot of room for passengers.
                If you you are driving in a group of seven or nine passenger vans will accommodate all your luggage.</p>
                <!--
                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>-->

                <span>
                  <a href="#" data-toggle="modal" data-target="#exampleModal"><strong>TAKE A QUOTE</strong></a>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/blog-6-370x270.jpg" alt="">

              <div class="down-content">
                <h4>Cabrio</h4>

                <!--<h6><small>from</small> $99 <small>per weekend</small></h6>-->

                <p>For an outstanding driving experience, check out our Convertible cars!
                These cars are popular in sunny destinations like Rhodes, where you can enjoy driving these special cars.
                Convertible vehicles fit up to two medium-size suitcases and are perfect for two people.</p>
                <!--
                <small>
                    <strong title="passegengers"><i class="fa fa-user"></i> 5</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="luggages"><i class="fa fa-briefcase"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="doors"><i class="fa fa-sign-out"></i> 4</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong title="transmission"><i class="fa fa-cog"></i> A</strong>
                </small>-->

                <span>
                  <a href="#" data-toggle="modal" data-target="#exampleModal"><strong>TAKE A QUOTE</strong></a>
                </span>
              </div>
            </div>
          </div>
          <!--
          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>-->
        </div>
      </div>
    </div>

    {{>footer}}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Take a quote</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="contact-form">
              <form method="POST" action="/quote" id="contact">
                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" name="pickupLocation" placeholder="Pick-up location" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" name="returnLocation" placeholder="Return location" required="">
                          </fieldset>
                       </div>
                  </div>

                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" name="pickupdate" placeholder="Pick-up date/time" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" name="returndate" placeholder="Return date/time" required="">
                          </fieldset>
                       </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input type="text" class="form-control" name="name" placeholder="Enter full name" required>
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input type="text" class="form-control" name="carCategory" placeholder="Car Category" required>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                       <div class="col-md-6">
                          <fieldset>
                            <input type="email" class="form-control" name="email" placeholder="Enter email address" required="">
                          </fieldset>
                       </div>

                       <div class="col-md-6">
                          <fieldset>
                            <input type="text" class="form-control" name="telephone" placeholder="Enter phone" required="">
                          </fieldset>
                       </div>
                       <div class="col-md-12">
                        <fieldset>
                          <div id="html_element"></div>
                        </fieldset>
                     </div>
                  </div>
                  <div class="modal-footer">
                    <fieldset>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
              </form>
              <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
                  async defer>
              </script>
           </div>
          </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="/js/custom.js"></script>
    <script src="/js/alert.js"></script>

  </body>

</html>
