<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Carental company">
    <meta name="author" content="lc_web_creations">
    <link rel="icon" href="/images/car.ico">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Kastri Rent A Car</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- Preloader -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">
          <!--<h2>Car Rental <em>Website</em></h2></a>-->
          <img id = "logo" src = "/images/logo.JPG"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="/fleet">Fleet</a></li>

                <li class="nav-item active"><a class="nav-link" href="/generalterms">General Terms</a></li>
                
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(/images/generalterms.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>Services</h4>
              <h2>your drive with our care</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>General Terms & Conditions</h2>
            </div>
              <div class="accordion">
                <div class="accordion-item" id="question1">
                  <a class="accordion-link" href="#question1">
                    CAR INSURANCE
                  </a>
                  <div class="answer">
                    <p>&bull; ALL OF OUR CARS ARE COVERED WITH FULL INSURANCE, 100% <strong>WITHOUT ANY RISK</strong>. (C.D.W + F.D.W)<br>
                       &bull; <strong>NO DEPOSIT</strong> OR <strong>GUARANTEE</strong> IS NEEDED TO RENT A CAR.<br>
                       &bull; PASSENGER INSURANCE</p>
                  </div>
                </div>
                <div class="accordion-item" id="question2">
                  <a class="accordion-link" href="#question2">
                    DRIVING LICENSE 
                  </a>
                  <div class="answer">
                    <p>&bull; A VALID LICENSE IS REQUIRED AND HELD FOR AT LEAST 1 YEAR.<br>
                       &bull; FOR ECONOMY CLASS THE DRIVER MUST BE AT LEAST <strong>21 YEARS OLD.</strong><br>
                       &bull; FOR THE OTHER CATEGORIES THE DRIVER MUST BE AT LEAST <strong>23 YEARS OLD.</strong></p>
                  </div>
                </div>
                <div class="accordion-item" id="question3">
                  <a class="accordion-link" href="#question3">
                    BABYSEATS 
                  </a>
                  <div class="answer">
                   <p>&bull; WE HAVE A BIG VARIETY OF BABY SEATS FOR ALL AGES AND FREE OF CHARGE</p>
                  </div>
                </div>
                <div class="accordion-item" id="question4">
                  <a class="accordion-link" href="#question4">
                    INCLUDED IN THE PRICE 
                  </a>
                  <div class="answer">
                    <p>&bull; ALL TAXES ARE INCLUDED IN THE OFFERED PRICE.<br>
                       &bull; FREE KILOMETERS.<br>
                       &bull; FREE ADDITIONAL DRIVER.</p>
                  </div>
                </div>
                <div class="accordion-item" id="question5">
                  <a class="accordion-link" href="#question5">
                    ROAD ASSISTANCE & FUEL POLICY
                  </a>
                  <div class="answer">
                    <p>&bull; 24HOURS ROAD ASSISTANCE.<br>
                       &bull; THE CUSTOMER MUST RETURN THE CAR WITH THE SAME AMOUNT OF FUEL AS IT WAS. IN OTHER CASE MUST PAY THE DIFFERENCE.</p>
                  </div>
                </div>
              </div>             
          </div>
        </div>
      </div>
    </div>

    {{>footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Additional Scripts -->
    <script src="/js/custom.js"></script>
    <script src="/js/position.js"></script>



  </body>

</html>
