<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Carental company">
    <meta name="author" content="lc_web_creations">
    <link rel="icon" href="/images/car.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Kastri Rent A Car</title>

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">


  </head>

  <body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- Preloader -->
    
    <!--Header-->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/">
          <!--<h2>Car Rental <em>Website</em></h2></a>-->
          <img id = "logo" src = "/images/logo.JPG"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="/fleet">Fleet</a></li>

                <li class="nav-item"><a class="nav-link" href="/generalterms">General Terms</a></li>
                
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

 
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="img"><img class="d-block img-fluid-car" src="/images/carousel_1.jpg" alt="First slide"></div>
            <div class="text-content">
              <h4>KASTRI RENT A CAR</h4>
              <h2>Enjoy your holidays with our wheels</h2>
            </div>
          </div>
          <div class="carousel-item">
            <div class="img"><img class="d-block img-fluid-car" src="/images/carousel_2.jpg" alt="Second slide"></div>
            <div class="text-content">
              <h4>Get a car for rent here</h4>
              <h2>Better care with best prices</h2>
            </div>
          </div>
          <div class="carousel-item">
            <div class="img"><img class="d-block img-fluid-car" src="/images/carousel_3.jpg" alt="Third slide"></div>
            <div class="text-content">
              <h4>Drive with care</h4>
              <h2>Your satisfaction is our main aim</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Services</h2>
              <!--<a href="offers.html">view more <i class="fa fa-angle-right"></i></a>-->
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/fullinsurance.jpg" alt="">
              <div class="down-content">
                <a href="generalterms.html"><h4>Full Insurance</h4></a>
                <!--<h6><small>from</small> $120 <small>per weekend</small></h6>-->
                <p>We offer full insurance to all of our cars without extra charges. Feel comfort and enjoy driving our cars</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/roadass.png" alt="">
              <div class="down-content">
                <a href="generalterms.html"><h4>Road Service & Assistance</h4></a>
                <!--<h6><small>from</small> $150 <small>per weekend</small></h6>-->
                <p >We provide 24/7 road service and assistance in every corner of the island. With our company you never feel alone.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <img src="/images/offer-3-370x270.jpg" alt="">
              <div class="down-content">
                <a href="/views/fleet.html"><h4>Low Prices</h4></a>
                <!--<h6><small>from</small> $150 <small>per weekend</small></h6>-->
                <p>Choose the category that covers you, complete the <a href="/views/fleet.html">form</a> and take your quote. Always with the best prices on the net.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <p>Kastri Rent A Car, it's a family business created from people with 30+ experience in tourist industry. Located in the famous area of Faliraki on Rhodes island, Greece.</p>
              <p>Kastri Rent A Car it's know for it's:</p>
              <ul class="featured-list">
                <li>&bull; Professionalism</li>
                <li>&bull; Good Service</li>
                <li>&bull; Best Prices</li>
                <li>&bull; New & Clean cars (Covid-19 checked)</li>
              </ul>
              <a href="views/contact.html" class="filled-button">Contact us</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="/images/about-1-570x350.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services" style="background-image: url(/images/background-image.jpg);" >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Rhodes Island | Useful information</h2>

              <!--<a href="https://www.rhodes.gr/tourist-guide/">read more <i class="fa fa-angle-right"></i></a>-->
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a class="services-item-image"><img src="/images/rhodespalace.jpg" class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="https://www.rhodes.gr/tourist-guide/" target="_blank">Best Sightseeings on the island</a></h4>

                <!--<p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>-->
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a class="services-item-image"><img src="/images/faliraki.jpg" class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="https://faliraki.com/el/" target="_blank">Faliraki area</a></h4>

                <!--<p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>-->
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a class="services-item-image"><img src="/images/emergency.jpg" class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="https://www.rhodesguide.com/travelguide/rhodes_information.php" target="_blank">In case of an emergency</a></h4>

                <!--<p style="margin: 0;"> John Doe &nbsp;&nbsp;|&nbsp;&nbsp; 12/06/2020 10:30 &nbsp;&nbsp;|&nbsp;&nbsp; 114</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="happy-clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Happy Clients</h2>

              <a href="testimonials.html">read more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel text-center">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>John Doe</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jane Smith</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Antony Davis</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>John Doe</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Jane Smith</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="down-content">
                  <h4>Antony Davis</h4>
                  <p class="n-m"><em>"Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat."</em></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->

    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>24/7 here for you to cover all of your questions!</h4>
                  <p>Don't hesitate and talk with our team.</p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="views/contact.html" class="filled-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    {{>footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="/js/custom.js"></script>

  </body>
</html>