<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p><i class="fa fa-map-marker"></i> Faliraki, Kastri Area, Rhodes Island | <i class="fa fa-phone"></i> (+30) 6940 599 594, (+30) 22410 02746 | <i class="fa fa-envelope"></i> kastrirentacar@outlook.com</p><br>
              <p>Copyright © 2020 Kastri Rent A Car - Developed by: <a href="https://www.lcwebcreations.com/">LC WEB CREATIONS</a></p>
            </div>
          </div>
        </div>
      </div>
</footer>